# ######################################################## #
# this file is maintained by ansible-role-emacs            #
# see: https://github.com/pridkett/ansible-role-emacs      #
# changes may be overwritten future invocations of ansible #
# ######################################################## #

{% if ansible_pkg_mgr == 'homebrew' %}
alias emacs="TERM=xterm-24bits /usr/local/bin/emacs -nw"
alias emacsclient="TERM=xterm-24bit /usr/local/bin/emacsclient -tty"
{% endif %}
{% if ansible_pkg_mgr == 'apt' %}
alias emacs="TERM=xterm-24bits /usr/bin/emacs26 -nw"
alias emacsclient="TERM=xterm-24bit /usr/bin/emacsclient26 -tty"
{% endif %}